<p>Welcome to RSit.zz!</p>
<a href="<%= @url.short_url %>">
  <p><%= @url.short_url %></p>
<a href="<%= @url.long_url %>">
    <p><%= @url.long_url %></p>
</a>



<!-- set the short link as hyperlink <a> </a>, so that when we clicked on it, it can direct us back to the long url(that article) -->